# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# files that are too large to upload to github
*.bib
*.ris
*.sqlite

/data/derived-data/files_for_coauthors/
/data/derived-data/coding/coding-pdfs/
/data/derived-data/coding/manual-coding/set-0/
/data/derived-data/coding/manual-coding/set-0_check/
/data/derived-data/coding/manual-coding/sets/
/data/derived-data/coding/manual-coding/sets-incomplete/
/data/derived-data/coding/manual-coding/supplementary-sets/
/data/derived-data/coding/geoparsing/
/data/derived-data/coding/nlp-extracted/*.RData
/data/derived-data/coding/coding-pdfs-training/
/data/derived-data/coding/keyword-matches/*.RData
/data/derived-data/coding/keyword-matches/*.sqlite
/data/derived-data/coding/keyword-matches/keyword-matches-and-metadata-csv
/data/derived-data/screening/screened-records/*.csv
/data/derived-data/screening/records-to-screen/*.rds
/data/raw-data/deduplication-files/unique_references.txt
/data/raw-data/deduplication-files/unique_reference*.txt
/data/raw-data/relevance-predictions/
/data/raw-data/coding-predictions/
/*_env/
*.pickle
/data/derived-data/coding/keyword-matches-supplemental-coding/*.rds
/data/derived-data/coding/keyword-matches-supplemental-coding/*.RData

